.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.Sales {
  stroke-width: 0px;
  fill:none;
}

.Rentals {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.dot {
  fill: "black";
}

.bar:hover {
  opacity:0.2;
}

/* These css tooltip traits are borrowed from http://bl.ocks.org/Caged/6476579" */

.tooltip {
  line-height: 1,
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.tooltip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

.tooltip:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

