.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.dot {
  fill: "black";
}

.highlight.dot {
  color: "red";
  fill: "red";  
  border-radius: 4px;
}
